.main-sidebar {
    .panel-default {
        .panel-heading {
            background-color: $sidebarColor;
            border-color: $sidebarColor;
        }
    } 

    .panel {
        border: none;
    }

    .panel-body {
        background: $sidebarSecondaryColor;
        border: none;
    }

    .panel-group .panel-heading+.panel-collapse>.panel-body {
        border: none;
    }
}
    