/*
* _user.scss
* User-related styling
* Profile, timeline, settings, etc.
 */

.edit-profile {
    margin-top: -5px;
}

.modal-green {
    .modal-header {
        background-color: $primary;

        .modal-title {
            color: #fff !important;
        }
    }

    .modal-body {
        background-color: #fff !important;
    }
}

#editProfile .modal-dialog {
    min-width: 50%;
}
